.container {
  padding: 80px 20px 20px 20px;
  display: flex;
  max-width: 1200px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.boards-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.new-board {
  width: 180px;
  height: 100px;
  background-color: #091e420a;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &:hover .icon {
    transform: scale(1.6);
  }
}

.icon {
  transition: transform .2s;
}
