.background {
  width: 100%;
  background-color: rgba(102, 59, 184, 0.1);
}
.container {
  padding: 90px 20px 20px 20px;
  display: flex;
  max-width: 1200px;
  width: 100%;
  flex-direction: column;
  justify-content: start;
  gap: 20px;
  height: 100vh;
}

.search {
  margin: 0 0 0 auto;
}

.mat-card-title {
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin: 0;
  }
}

.boards-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.new-board {
  width: 180px;
  height: 100px;
  background-color: #091e420a;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &:hover .icon {
    transform: scale(1.6);
  }
}

.icon {
  transition: transform .2s;
}

@media (max-width: 600px) {
  .container {
    padding: 80px 20px 20px 20px;
  }

  .mat-card-title {
    font-size: 16px;
  }
  .search {
    margin: 0 auto;
  }
}
