<div class="container">
    <div class="register-modal">
        <div class="close">
            <div class="close-icon" routerLink='/home'></div>
        </div>
        <form class="example-form form" [formGroup]="formGroup">
            <h2>Войти</h2>
            <div class="form__container">

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Электронная почта</mat-label>
                    <input matInput class="form__input" type="email" placeholder="Enter your email"
                        formControlName="login" autocomplete="off">
                    <mat-error></mat-error>
                </mat-form-field>

                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Пароль</mat-label>
                    <input matInput class="form__input" type="password" placeholder="Enter password"
                        formControlName="password" autocomplete="off">
                    <mat-error></mat-error>
                </mat-form-field>
            </div>
            <button mat-flat-button class="form__button" [disabled]="formGroup.invalid">Войти</button>
            <button mat-flat-button routerLink='/signup' class="form__button login-btn">Зарегистрировать
                аккаунт</button>
        </form>
    </div>
</div>