<ng-container *ngIf="columnsArr">
  <div class="container">
    <ng-container cdkDropListGroup>
      <app-board-column
        class="column"
        *ngFor="let item of columnsArr"
        (deletedColumn)="updateColumnsAfterDelete($event)"
        [column]="item"
      ></app-board-column>
    </ng-container>
    <div class="new-column" (click)="openDialog()">
      <mat-icon>add</mat-icon>
      <div>{{ 'BUTTON.ADD_COLUMN' | translate }}</div>
    </div>
  </div>
</ng-container>

<button class="back-btn" [routerLink]="'/boards'">
  <mat-icon>arrow_back</mat-icon>
</button>
