<ng-container *ngIf="columnsArray">
    <div class="container"
         cdkDropList
         cdkDropListOrientation="horizontal"
         [cdkDropListData]="columnsArray"
         (cdkDropListDropped)="dropGroup($event)">
      <app-board-column class="column"
                        cdkDropListGroup
                        *ngFor="let column of columnsArray"
                        cdkDrag
                        [cdkDragData]="column"
                        [column]="column"
                        [columnsArr]="columnsArray"
                        (deletedColumn)="openConfirmationModal($event)"
      >
      </app-board-column>
      <div class="new-column" (click)="openNewColumnDialog()">
        <mat-icon>add</mat-icon>
        <div>{{ 'BUTTON.ADD_COLUMN' | translate }}</div>
      </div>
    </div>
</ng-container>

<button class="back-btn bottom-btn" [routerLink]="'/boards'">
  <mat-icon>arrow_back</mat-icon>
</button>

<button class="save-btn bottom-btn" (click)="downloadFile()">
  <mat-icon>save</mat-icon>
</button>
