.container {
  padding: 80px 20px 20px 20px;
  height: 100vh;
  display: flex;
  overflow-y: hidden;
  background-color: rgba(102, 59, 184, 0.1);
}

.new-column {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  height: 60px;
  width: 100%;
}
