<h2 mat-dialog-title>
    {{ 'BUTTON.CREATE' | translate }}
    {{ (name === 'board' ? 'MAIN.BOARD_TITLE' : 'MAIN.COLUMN_TITLE') | translate | lowercase }}
</h2>
<mat-divider></mat-divider>

<mat-dialog-content class="mat-typography">
  <form class="dialog-form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>{{ (name === 'board' ? 'MAIN.BOARD_TITLE' : 'MAIN.COLUMN_TITLE') | translate }}</mat-label>
      <input
        type="text"
        matInput
        [formControl]="titleFormControl"
        placeholder="{{ (name === 'board' ? 'MAIN.BOARD_TITLE' : 'MAIN.COLUMN_TITLE') | translate }}"
      >

      <mat-error *ngIf="titleFormControl.hasError('maxlength')">
        {{ 'Title is too long'| translate }}
      </mat-error>
      <mat-error *ngIf="titleFormControl.hasError('required')">
        {{ 'Title is required' | translate }}
      </mat-error>
    </mat-form-field>

    <button
      [mat-dialog-close]="true"
      mat-flat-button
      type="submit"
      color="accent"
      [disabled]="titleFormControl.invalid"
    >
      {{ 'BUTTON.CREATE' | translate }}
    </button>
  </form>
</mat-dialog-content>

