<h2 mat-dialog-title>{{ 'BOARD.NEW_TASK_DIALOG.CREATE' | translate }}</h2>
<mat-divider></mat-divider>
<mat-dialog-content>
  <form class="dialog-form" (ngSubmit)="onSubmit()" [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'BOARD.NEW_TASK_DIALOG.TITLE' | translate }}</mat-label>
      <input
        type="text"
        matInput
        formControlName="title"
        placeholder="{{ 'BOARD.NEW_TASK_DIALOG.TITLE' | translate }}">

      <mat-error *ngIf="form.get('title')?.hasError('required')">
        {{ 'Title is required' | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{ 'BOARD.NEW_TASK_DIALOG.DESCRIPTION' | translate }}</mat-label>
      <input
        type="text"
        matInput
        formControlName="description"
        placeholder="{{ 'BOARD.NEW_TASK_DIALOG.DESCRIPTION' | translate }}">

      <mat-error *ngIf="form.get('description')?.hasError('required')">
        {{ 'Description is required' | translate }}
      </mat-error>
    </mat-form-field>

    <button
      [mat-dialog-close]="true"
      mat-flat-button
      type="submit"
      color="accent"
      [disabled]="form.invalid"
    >
      {{ 'BUTTON.CREATE' | translate }}
    </button>
  </form>
</mat-dialog-content>

