<h2 mat-dialog-title>Create task</h2>
<mat-divider></mat-divider>
<mat-dialog-content>
  <form class="dialog-form" (ngSubmit)="onSubmit()" [formGroup]="form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Task title</mat-label>
      <input type="text" matInput formControlName="title" placeholder="Task title">
      <mat-error *ngIf="form.get('title')?.hasError('required')">
        Task title is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Task description</mat-label>
      <input type="text" matInput formControlName="description" placeholder="Description">
      <mat-error *ngIf="form.get('description')?.hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <button
      [mat-dialog-close]="true"
      mat-flat-button
      type="submit"
      color="accent"
      [disabled]="form.invalid"
    >Create
    </button>
  </form>
</mat-dialog-content>

