 <div class="column-container">
  <div class="column-title-container" *ngIf="!editColumnInput" (click)="toggleColumnInput()">
    <h2>{{column.title}}</h2>
    <mat-icon (click)="deleteColumn($event)">delete</mat-icon>
  </div>

  <mat-form-field class="form-field" *ngIf="editColumnInput">
    <input matInput type="text" [(ngModel)]="newColumnTitle" (keyup.enter)="updateColumnName()">
    <button matPrefix mat-icon-button (click)="updateColumnName()">
      <mat-icon>done</mat-icon>
    </button>
    <button matPrefix mat-icon-button (click)="toggleColumnInput()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <div
    class="tasks-list"
    cdkDropList
    id={{column.order}}
    [cdkDropListData]="column.tasks"
    (cdkDropListDropped)="dropItem($event)"
    [cdkDropListConnectedTo]="getConnectedList()">
    <app-column-task cdkDrag
                     *ngFor="let task of column.tasks"
                     [cdkDragData]="task"
                     [task]="task"
                     [column]="column"
                     (deletedTask)="openConfirmationModal($event)"
    >
    </app-column-task>
    <div class="new-task" cdkDropList cdkDropListDisabled
         (click)="openNewTaskDialog()"
    >
      <mat-icon>add</mat-icon>
      <div>{{ 'BUTTON.ADD_TASK' | translate }}</div>
    </div>
  </div>
</div>
