<div class="column-container">
  <h2 *ngIf="!editColumnInput" (click)="toggleColumnInput()">{{ column.title }}</h2>

  <mat-form-field *ngIf="editColumnInput" class="example-form-field" appearance="fill">
    <input matInput type="text" [(ngModel)]="newColumnTitle">
    <button matSuffix mat-icon-button (click)="updateColumnName()">
      <mat-icon>done</mat-icon>
    </button>
    <button matSuffix mat-icon-button (click)="toggleColumnInput()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <p>{{column.id}}</p>
  <div
    cdkDropList
    [cdkDropListData]="tasksArr"
    class="tasks-list"
    (cdkDropListDropped)="drop($event)">
    <app-column-task
      *ngFor="let item of tasksArr"
      [task]="item"
      [column]="column"
      cdkDrag
      [cdkDragData]="item"
    ></app-column-task>
    <div class="new-task" (click)="addTask()">
      <mat-icon>add</mat-icon>
      <div>Add task</div>
    </div>
  </div>
</div>
