.column-container {
  width: 300px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
  overflow-y: hidden;
  height: calc(100vh - 128px);
}

.column-title-container {
  position: relative;
  .mat-icon {
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.2s ease-in-out;
    opacity: 0.1;

    &:hover {
      cursor: pointer;
      opacity: 1;
      color: #663bb8;
      transform: scale(1.2);
    }
  }
}

h2 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  height: 45px;
  margin: 0 0 20px 0;
  padding-top: 20.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #663bb8;
  }
}

.tasks-list {
  min-height: 60px;
  max-height: calc(100% - 80px);
  border-radius: 4px;
  display: block;
  overflow: scroll;
}

.new-task {
  padding: 15px 10px;
  color: white;
  background-color: rgba(102,59,184, 0.3);
  display: flex;
  gap: 15px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  font-size: 14px;
  text-overflow: ellipsis;
  transition: font-size 0.2s ease-in-out;

  & * {
    margin: 0 10px;
  }

  .mat-icon {
    transition: transform 0.2s ease-in-out;
  }

  &:hover {
    color: #663bb8;
    font-size: 16px;
    .mat-icon {
      transform: scale(1.2);
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-form-field {
  width: 100%;
  transition: color 0.2s ease-in-out;

  .mat-icon {
    &:hover {
      color: #663bb8;
    }
  }
}
