.new-board {
  width: 180px;
  height: 100px;
  background-color: #091e420a;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &:hover .icon {
    transform: scale(1.6);
  }
}

.icon {
  transition: transform .2s;
}
