.example-spacer {
  flex: 1 1 auto;
}

.example-icon {
  display: none;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  font: 800 28px/32px Montserrat, "Montserrat", sans-serif;
  background: transparent;
  z-index: 1030;
  transition: background 1s ease 0s;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.logo {
  width: 40px;
  margin-right: 7px;
}

.mat-flat-button {
  font-size: 16px;
  margin-left: 10px;
}

.text-white {
  color: #fff;
}

.scroll {
  background-color: #fff;
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
}

.header-color {
  background: #663bb8;
  color: white;
}

.user-icon {
  color: white;
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 40px;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: #ffd740;
  }
}

.user-icon,
.add-btn {
  margin: 0 10px;
}

@media (max-width: 1024px) {
  .example-icon {
    display: block;
  }
}

@media (max-width: 420px) {
  .mat-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    height: 17%;
  }
}
