<mat-toolbar [class.header-color]="currentRoute !== '/' && currentRoute !== '/home'" appHeaderAnimate>
  <img class="logo" src="assets/icons/logo-1.svg" alt="logo">
  <span class="logo-text" routerLink="/boards">RSTrello</span>
  <ng-template  [ngIf]="currentRoute === '/boards'">
    <button
      (click)="openDialog()"
      mat-button color="accent" class="add-btn"
    >
      {{'HEADER.ADD_BOARD' | translate}}
    </button>
  </ng-template>

  <span class="example-spacer"></span>

  <mat-slide-toggle
    [(ngModel)]="slideValue"
    (ngModelChange)="changeLang(slideValue)"
  >
    {{'BUTTON.LANG' | translate}}
  </mat-slide-toggle>

  <ng-template [ngIf]="checkRoute('/home')">
    <button mat-flat-button (click)="togglePath('login')">{{ 'HEADER.LOGIN' | translate }}</button>

    <button mat-flat-button color="primary" class="text-white"
            (click)="togglePath('signup')">{{ 'HEADER.SIGNUP' | translate }}</button>
  </ng-template>

  <ng-template [ngIf]="currentRoute !== '/' && currentRoute !== '/home'">
    <mat-icon class="user-icon" (click)="editProfile()">account_circle</mat-icon>
    <button mat-button color="accent" (click)="logout()">{{'HEADER.LOGOUT' | translate}}</button>
  </ng-template>

</mat-toolbar>
