<h2 mat-dialog-title>Create {{ name }}</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">
  <form class="dialog-form" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>{{name | titlecase }} title</mat-label>
      <input type="text" matInput [formControl]="titleFormControl" placeholder="{{ name| titlecase }} title">
      <mat-error *ngIf="titleFormControl.hasError('maxlength')">
        {{name | titlecase }} title is too long
      </mat-error>
      <mat-error *ngIf="titleFormControl.hasError('required')">
        {{name | titlecase }} title is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button
      [mat-dialog-close]="true"
      mat-flat-button
      type="submit"
      color="accent"
      [disabled]="titleFormControl.invalid"
    >Create
    </button>
  </form>
</mat-dialog-content>

