<h2 mat-dialog-title>Create board</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">
  <form class="dialog-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Board title</mat-label>
      <input type="email" matInput [formControl]="titleFormControl" placeholder="Board title">
      <mat-error *ngIf="titleFormControl.hasError('maxlength')">
        Title is too long
      </mat-error>
      <mat-error *ngIf="titleFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button
      mat-button
      type="submit"
      color="accent"
      [disabled]="titleFormControl.invalid"
      (submit)="onSubmit($event)"
    >Create</button>
  </form>
</mat-dialog-content>

