<div class="container">
    <div class="hero">
        <div class="hero__content">
            <h1>{{'HOME.TITLE' | translate}}</h1>
            <p>{{'HOME.SUBTITLE' | translate}}</p>
        </div>
        <div class="hero__image">
            <img src="assets/icons/hero.JPG" alt="">
        </div>
    </div>
    <section class="services">
        <h2>{{'HOME.SECTION_TITLE.progect' | translate}}</h2>
        <div class="services__wrapper">

            <div class="services__item services__ability">
                <h3 class="services__title">{{'HOME.SECTION_SUBTITLE.ability' | translate}}</h3>
                <p class="services__description">
                    {{'HOME.SECTION_DESCRIPTION.ability' | translate}}
                </p>
            </div>

            <div class="services__item services__design">
                <h3 class="services__title">{{'HOME.SECTION_SUBTITLE.design' | translate}}</h3>
                <p class="services__description feature-description-star">
                    {{'HOME.SECTION_DESCRIPTION.design' | translate}}
                </p>
            </div>

            <div class="services__item services__func">
                <h3 class="services__title">{{'HOME.SECTION_SUBTITLE.func' | translate}}</h3>
                <p class="services__description feature-description-star">
                    {{'HOME.SECTION_DESCRIPTION.func' | translate}}
                </p>
            </div>

            <div class="services__item services__layout">
                <h3 class="services__title title">{{'HOME.SECTION_SUBTITLE.adaptive' | translate}}</h3>
                <p class="services__description feature-description-star">
                    {{'HOME.SECTION_DESCRIPTION.adaptive' | translate}}
                </p>
            </div>

        </div>
    </section>
    <section class="team">
        <h2>{{'HOME.SECTION_TITLE.team' | translate}}</h2>
        <div class="team__wrapper">
            <div class="team__item">
                <img src="https://avatars.githubusercontent.com/u/77978099?v=4" class="member" alt="Dariya">
                <div class="item-description">
                    <a class="member-link" href="https://github.com/Runeci" target="_blank">Dariya</a>
                    <ol>
                        <li>
                            Main route
                        </li>
                        <li>
                            Board route
                        </li>
                    </ol>
                </div>

            </div>
            <div class="team__item">
                <img src="https://avatars.githubusercontent.com/u/78305019?v=4" class="member" alt="Olga">
                <div class="item-description">
                    <a class="member-link" href="https://github.com/OlgaSavitsk" target="_blank">Olga</a>
                    <ol>
                        <li>
                            Welcome page
                        </li>
                        <li>
                            Authorization
                        </li>
                    </ol>
                </div>

            </div>
            <div class="team__item">
                <img src="https://avatars.githubusercontent.com/u/15888553?v=4" class="member" alt="Dastan">
                <div class="item-description">
                    <a class="member-link" href="https://github.com/dastansembay" target="_blank">Dastan</a>
                    <ol>
                        <li>
                            Deploy backend
                        </li>
                    </ol>
                </div>

            </div>
        </div>
    </section>
</div>