<div class="container">
    <div class="hero">
        <div class="hero__content">
            <h1>{{'HOME.TITLE' | translate}}</h1>
            <p>{{'HOME.SUBTITLE' | translate}}</p>
        </div>
        <div class="hero__image">
            <img src="assets/icons/hero.JPG" alt="">
        </div>
    </div>
    <section class="services">
        <h2>{{'HOME.SECTION_TITLE.progect' | translate}}</h2>
        <div class="services__wrapper">

            <div class="services__item services__ability">
                <h3 class="services__title">{{'HOME.SECTION_SUBTITLE.ability' | translate}}</h3>
                <p class="services__description">
                    {{'HOME.SECTION_DESCRIPTION.ability' | translate}}
                </p>
            </div>

            <div class="services__item services__design">
                <h3 class="services__title">{{'HOME.SECTION_SUBTITLE.design' | translate}}</h3>
                <p class="services__description feature-description-star">
                    {{'HOME.SECTION_DESCRIPTION.design' | translate}}
                </p>
            </div>

            <div class="services__item services__func">
                <h3 class="services__title">{{'HOME.SECTION_SUBTITLE.func' | translate}}</h3>
                <p class="services__description feature-description-star">
                    {{'HOME.SECTION_DESCRIPTION.func' | translate}}
                </p>
            </div>

            <div class="services__item services__layout">
                <h3 class="services__title title">{{'HOME.SECTION_SUBTITLE.adaptive' | translate}}</h3>
                <p class="services__description feature-description-star">
                    {{'HOME.SECTION_DESCRIPTION.adaptive' | translate}}
                </p>
            </div>

        </div>
    </section>
</div>
<lib-ng-toast></lib-ng-toast>
<app-footer></app-footer>
