.not-found {
  overflow: hidden;
  height: 100%;
  background-color: rgba(102, 59, 184, 0.1);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.mat-icon {
  font-size: 60px;
  height: 60px;
  width: 60px;
}
